/* 默认dark主题 */
:root
  --bg-color #001529
  --text-color #f0f6fc
  --border-right none

/* light主题 */
:root[theme='light']
  --bg-color #fff
  --text-color #2c3e50
  --border-right 0.0125rem solid #eee
